{% extends 'base.html.twig' %}

{% block title %}
    {% if app.user %}
        To Do List - {% if app.user.sex is same as "Homme" %} M. {% elseif app.user.sex is same as "Femme" %} Mme {% else %} {% endif %}{{app.user.lastname}}
    {% endif %}
{% endblock %}

{% block body %}
    <h1>Voiçi la liste de vos projets</h1>
{% endblock %}
