<form class="d-inline-block m-2"  method="post" action="{{ path('task_delete', {'id': task.id}) }}" onsubmit="return confirm('Désirez-vous vraient supprimer cette tâche ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
    <button class="btn btn-warning">Supprimer</button>
</form>