<footer id="footer" class="bg-dark text-warning">
    <div class="row mx-auto p-3">
        <article class="col-12 mb-3">
            <h3 class="text-center color-gold mb-5">To Do List - 2021</h3>
        </article>
    </div>
</footer>