<form class="d-inline-block m-2" method="post" action="{{ path('project_delete', {'id': project.id}) }}" onsubmit="return confirm('Désirez-vous vraient supprimer ce projet et toutes ses tâches ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
    <button class="btn btn-warning">Supprimer</button>
</form>