{% extends 'base.html.twig' %}

{% block title %}To Do List - Nouvel utilisateur{% endblock %}

{% block body %}
    <h1>Créer une nouvelle session</h1>

    {{ include('user/_form.html.twig') }}

    <a  class="btn btn-warning" href="{{ path('app_login') }}">Retour en arrière</a>
{% endblock %}
